<ion-view view-title="当前班次信息">
  <ion-content>
    <div class="card">
	 <div class="item item-text-wrap">
      <h2><b>当前班次信息：</b></h2>
      <p><label>时间：</label><span>2015-5-8</span></p>
      <p><label>区号：</label><span>021</span></p>
      <p><label>班次：</label><span>E201558-001</span></p>
      <p><label>班车状态：</label><span>未发车</span></p>
      <p><label>乘客列表：</label></p>
      <div class="list">
        <div class="item row">
          <div class="col">姓名</div>
		  <div class="col">票尾号</div>
		  <div class="col">早餐</div>
		  <div class="col">是否已检票</div>
    	</div>
    	<div class="item row">
          <div class="col">小刘</div>
		  <div class="col">1235</div>
		  <div class="col">A*2</div>
		  <div class="col">是</div>
    	</div>
    	<div class="item row">
          <div class="col">小张</div>
		  <div class="col">2925</div>
		  <div class="col">无</div>
		  <div class="col">否</div>
    	</div>
    	<div class="item row">
          <div class="col">小王</div>
		  <div class="col">3367</div>
		  <div class="col">B*1</div>
		  <div class="col">是</div>
    	</div>
      </div>
     </div>
  	</div>
  </ion-content>
</ion-view>
