<ion-view view-title="开聊">
  <ion-content>
    <div class="list">
      <div class="item item-avatar">
        <img src="img/ionic.png">
        <p>Nine Inch Nails</p>
      </div>
      <div class="item item-avatar">
        <img src="img/ionic.png">
        <p>Nine Inch Nails</p>
      </div>
      <div class="item item-avatar">
        <img src="img/ionic.png">
        <p>Nine Inch Nails</p>
      </div>
      <div class="item item-avatar">
        <img src="img/ionic.png">
        <p>Nine Inch Nails</p>
      </div>
	</div>
  </ion-content>
</ion-view>
