<ion-view view-title="师傅主页">
  <ion-content class="padding">
    <div class="list">
      <a class="button button-block button-outline button-positive" href="#/tab/checkticket">
	      检票
	  </a>
    </div>
    <div class="list">
      <a class="button button-block button-outline button-positive" href="#/tab/dailywork">
  	      报工
	  </a>
    </div>
    <div class="list">
      <a class="button button-block button-outline button-positive" href="#/tab/passengerstatus">
              查询当班乘客
	  </a>
    </div>
    <div class="list">
      <a class="button button-block button-outline button-positive" href="#/tab/chat">
  	      开聊
	  </a>
    </div>
  </ion-content>
</ion-view>